#textdomain wesnoth-units
[unit_type]
    id=alharud
    name= _ "Alharud"
    gender=male
    race=human
    image="units/alcharud.png"
    
    hitpoints=50
    movement_type=smallfoot
    movement=5
    
    experience=175
    {AMLA_DEFAULT}
    level=4
    alignment=chaotic
    advances_to=null
    
    [advancefrom]
    unit=Necromancer
    
    [/advancefrom]
    cost=50
    usage=mixed fighter
    description= _ +{SPECIAL_NOTES}+{SPECIAL_NOTES_MAGICAL}+{SPECIAL_NOTES_PLAGUE}+{SPECIAL_NOTES_ARCANE}
    die_sound={SOUND_LIST:HUMAN_OLD_DIE}
    
    [attack]
        name=plague staff
        description=_"plague staff"
        icon=attacks/staff-plague.png
        type=impact
        range=melee
        damage=7
        number=3
        [specials]
            {WEAPON_SPECIAL_PLAGUE}
        [/specials]
    [/attack]
    [attack]
        name=chill wave
        description=_"chill wave"
        type=cold
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        range=ranged
        damage=18
        number=3
        icon=attacks/iceball.png
    [/attack]
    [attack]
        name=shadow wave
        description=_"shadow wave"
        type=arcane
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        range=ranged
        damage=13
        number=3
        icon=attacks/dark-missile.png
    [/attack]
    [attack_anim]
        [filter_attack]
            name=shadow wave
        [/filter_attack]

        {MISSILE_FRAME_SHADOW_WAVE}

        start_time=-675
        
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=chill wave
        [/filter_attack]

        {MISSILE_FRAME_CHILL_WAVE 0 -5}

        start_time=-355
        
    [/attack_anim]
[/unit_type]