#textdomain wesnoth-Eastern_Europe_at_War
[unit_type]
    id=PolandPeasant
    name= _ "Polski Chłop"
    race=human
    gender=male
    image="units/peasant.png"
    #ellipse="misc/ellipse-nozoc"
    profile="portraits/Jason_Lutes/human-peasant.png"
    
    hitpoints=18
    movement_type=smallfoot
    movement=5
    experience=23
    level=0
    alignment=lawful
    advances_to=null
    {AMLA_DEFAULT}
    [advancefrom]
    unit=Peasant
    experience=16
    [/advancefrom]
    cost=10
    usage=fighter
    description= _ "."
    die_sound={SOUND_LIST:HUMAN_DIE}
    
[defense]
frozen=60
[/defense]
[movement_costs]
frozen=1
[/movement_costs]
    [attack]
        name=scythe
        description=_"scythe"
        type=blade
        range=melee
        damage=6
        number=2
        icon=attacks/scythe.png
    [/attack]
    [attack]
        name=bow
        description=_"bow"
        type=pierce
        range=ranged
        damage=3
        number=2
        icon=attacks/bow.png
    [/attack]

[/unit_type]