#textdomain wesnoth-Eastern_Europe_at_War
[unit_type]
    id=Szlachcic
    name= _ "Polish Nobleman"
    race=human
    gender=male
    image="units/szlachcic.png"
    ellipse="misc/ellipse"
    #profile="portraits/Jason_Lutes/human-peasant.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=35
    movement_type=smallfoot
    movement=5
    experience=40
    level=1
    alignment=lawful
    advances_to=magnat
    cost=15
    usage=fighter
    description= _ "."
    die_sound={SOUND_LIST:HUMAN_DIE}
    [advancefrom]
    unit=Fencer
    experience=42
    [/advancefrom]
    [attack]
        name=saber
        description=_"saber"
        type=blade
        range=melee
        damage=11
        number=2
        icon=attacks/saber-human.png
        [specials]
        [chance_to_hit]
			id=eeawprecision
			name= _ "precision"
			description= _ "This unit has 80% chance to hit during attack."
			value=80
			cumulative=no
			apply_to=self
			active_on=offense
		[/chance_to_hit]
        [/specials]
    [/attack]
    [attack]
        name=pistol
        description=_"pistol"
        type=pierce
        range=ranged
        damage=12
        number=1
        icon=attacks/thunderstick.png
    [/attack]
    

[/unit_type]